html{
    height: 100%;
}
body {
    width: 1024px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
/*******************************
*************header*************/
header {
    background-color: #4c5eab;
    box-sizing: border-box;
    height: 250px;
    padding: 60px 80px 48px 80px;
    position: relative;
}
.photo {
    float: left;
    width: 140px; height: 140px;
    border-radius: 100px;
}
.photo:hover{
    box-shadow: 0 0 20px #fff;
}
.info{
    float: left;
    color: #fff;
    margin: 30px 0 0 30px;
}
.name {
    font: bold 39px 'Montserrat', sans-serif; 
    line-height: 39px;
}
.name:hover{
    color: rgb(0, 143, 24);
    text-shadow: #fff 0 0 20px;
}
.prof{
    padding-top: 17px;
    font-size: 22px;
    line-height: 22px;
}
.contact {
    float: right;
    font-size: 18px;
    color: #fff;
    width: 170px;
    line-height: 1.4;
}
.contact li{
    padding-bottom: 10px;
    padding-left: 13px;
}
.adress {
    list-style-image: url(../image/loc.png)
}
.web {
    list-style-image: url(../image/globe.png)
}
.call {
    list-style-image: url(../image/phone.png)
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: rgb(255, 115, 0);
}
.overflow{
    text-overflow: ellipsis;
    overflow: hidden;
}
/**************main*************
**************aside*************/

main{
    display: table;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: -250px;
    padding: 35px 0 70px 0;
}
.aside{
    display: table-cell;
    height: 100%;
    width: 346px;
    background: linear-gradient(to left, #fafafa, #fff);
    padding: 37px 22px 52px 80px;
    box-sizing: border-box;
}
h1{
    font: 900 26px 'Montserrat', sans-serif;
    background: url(../image/case.png) no-repeat left;
    padding: 11px 0 11px 65px;
    margin: 0 0 18px 0;
    color: #2e2e2e;
    text-overflow: ellipsis;
    overflow: hidden;
}
.regular{
    font-size: 18px;
    color: #383838;
    font-weight: normal;
}
.profil{
    margin-bottom: 30px;
    line-height: 1.4;
    word-wrap: break-word;
}
.interests{
    list-style-type: none;
    padding: 0 0 40px 0;  
    overflow: hidden;
}
.interests li{
    float: left;
    width: 70px;
    text-align: center;
    margin-right: 11px;
    font-weight: bold;
    color: #383838;
}
.interests li:hover{
    text-decoration: underline;
}
.circls{
    list-style: none;
    padding: 0;
}
.circls li div{
    background: url(../image/circls.png) no-repeat 0 6px;
    margin-left: -32px;
    padding-left: 32px;
}
.circls li div:before{
    content:'';
    position:absolute;
    border-left:1px solid #b2b2b2;
    left:12px;
    top:41px;
    height:90px;
}
.circls li:last-child div:before{
    content:none;
}
.person{
    padding: 0 0 32px 35px;
    position: relative;
    height: 72px;
}
.reference{
    color: #4c5eab;
    font-weight: bold;
    line-height: 170%;
}
.regularBold{
    font-size: 18px;
    font-weight: bold;
    color: #383838;
}
.award{
    line-height: 1.8;
}

/************main************
***********section***********/
.content{
    display: table-cell;
    margin: 36px 0 0 17px;
}
.content > h1{
    padding-left: 84px;
    margin-left: 16px;
}
.box{
    margin-left: 100px;
}
.item{
    float: left;
    box-shadow: 0 0 30px #c5c5c5;
    margin: 0 18px 18px 0;
}
.item:hover{
    box-shadow: 0 0 30px #00aad4;
}
.images{
    width: 240px;
    height: 167px;
}
figcaption{
    padding-top: 19px;
    text-align: center;
    line-height: 170%;
    height: 97px;
    width: 240px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/******************************
************footer************/

.footer{
    height: 70px;
    margin-top: -70px;
    background-color: #4c5eab;
    color: #fff;
    font-size: 18px;
    line-height: 70px;
}
.writeMe{
    margin-left: 80px;
}
.footer span{
    font-weight: bold;
    color: #fff;
}